---
import DashboardIntegrationGuide from "./DashboardIntegrationGuide.astro";
---

<section class="dash-tab-panel" id="dash-panel-integration" role="tabpanel" aria-labelledby="dash-tab-integration" data-dashboard-panel="integration" hidden>
  <DashboardIntegrationGuide />
</section>
